gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

key.properties
**/*.keystore
**/*.jks


/android/app/debug
/android/app/profile
/android/app/release
**/android/key.properties
*.iml
.gradle/
/local.properties
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/dictionaries
/.idea/vcs.xml
/.idea/jsLibraryMappings.xml
**collabio-keystore.jks
